#body {
  text-align: center;
  font-size: 35px;
}

.links{
text-decoration: none
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

#text {
  font-weight:bold;
  color:#5C0E0E;
  letter-spacing:0pt;
  word-spacing:3pt;
  font-size:20px;
  text-align:left;
  font-family:times new roman, times, serif;
  line-height:1;
  margin-left: 10%;
  margin-right: 10%;

}